 #statistics .headercont{
    background: white;
    padding-left: 20px;
    height: 55px;
    line-height: 55px;
    font-size: 18px;
    color:#2a2a2a;
    margin-bottom: 20px;
    /* box-shadow: 0 0 2px 0px  #2a2a2a; */
}

#statistics .dashboard{
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
}

#statistics .tongji{
    width: 100%;
    height: 500px;
    background: white;
    margin-top: 20px;
    padding-top: 10px;
}


#statistics .areastatistics{
    height: 340px;
    width: 100%;
    padding-top: 10px;
    background: white;
    margin-bottom: 20px;
  
}



#statistics .dashtext{
    color:#fd7711;
}

#statistics .dashtext1{
    color:#1aa5fd;
}




#statistics .dashtext2{
    color:#ac31fa;
}


#statistics .dashtxt{
    font-size: 40px;
    font-weight: bold;
    margin-right: 8px;
}

#statistics .dashbottxt{
    color:#555;
    font-size: 16px;
}



#statistics .righthead{
    border-left:4px solid  #fd7a12;
    padding-left: 20px;
    font-size: 16px;
    color:#2a2a2a;
}



.alarmtable  .ant-table-thead > tr > th{
    text-align: center;
    background: white ;
    padding: 16px 5px;
}

.alarmtable .ant-table-container table > thead > tr:first-child th:last-child{
    text-align: center;
}


.alarmtable .ant-table-tbody > tr > td:first-child{
    text-align: center;
}

.alarmtable .ant-table-tbody > tr > td:last-child{
    text-align: center;
}